node_modules
dist
build
.vite
.env
.env.test
.git
.gitignore
npm-debug.log
npm-debug.log
package-lock.json
npm-install-legacy.log
npm-install.log
coverage
.cypress
cypress/videos
cypress/screenshots
.DS_Store
